.byebug_history
.env.example
.git
.gitignore
.dockerignore
.github/*
docker-compose.*
Dockerfile
log/*
node_modules/*
public/assets/*
public/packs/*
public/packs-test/*
tmp/*
yarn-error.log
screenshot.jpg
*.DS_Store
