.byebug_history
.env.example
.git
.gitignore
.dockerignore
.github
.eslintignore
.eslintrc.js
.foreman
.rubocop.yml
.yarnclean
Dockerfile
docker-compose.yml
log/*
node_modules
public/assets/*
Procfile
Procfile.dev
tmp/*
!/tmp/pids/
!/tmp/pids/.keep
yarn-error.log
screenshot.jpg
lighthouse.png
**/*.DS_Store
